@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --FONT-SIZE: 15px;
  --BG-COLOR: hsl(212, 45%, 89%);
  --CONTAINER-BG-COLOR: hsl(0, 0%, 100%);
  --HEADING-COLOR: hsl(218, 44%, 22%);
  --PARAGRAPH-COLOR: hsl(220, 15%, 55%);
  --FONT-TEXT: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--BG-COLOR);
  font-family: var(--FONT-TEXT);
  font-size: var(--FONT-SIZE);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--CONTAINER-BG-COLOR);
  text-align: center;
  border-radius: 20px;
  max-width: 350px;
}

.image-container {
  padding: 15px;
}

.image-container img {
  width: 100%;
  /* border: solid; */
  border-radius: 15px;
}

.text {
  padding: 15px 15px 0px;
  /* border: solid; */
}

.text p {
  /* border: solid; */
  margin: 20px;
}
