@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* VARIABLES */
:root {
  --FONT-FAMILY: "Red Hat Display", sans-serif;
  --BG-IMAGE: url("./images/pattern-background-desktop.svg");
  --BG-IMAGE-MOBILE: url("./images/pattern-background-mobile.svg");
  --BG-COLOR: hsl(225, 100%, 94%);
  --HYPERLINK-COLOR: hsl(245, 75%, 52%);
  --CONTAINER-COLOR: white;
  --PLAN-CONTAINER-COLOR: hsl(225, 100%, 98%);
  --HYPERLINK-HOVER-COLOR: hsl(224, 23%, 55%);
  --TEXT-COLOR: hsl(223, 47%, 23%);
  --FONT-SIZE: 16px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--FONT-FAMILY);
  font-size: var(--FONT-SIZE);
  background-image: var(--BG-IMAGE);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--BG-COLOR);

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-conatiner {
  /* border: solid; */
  width: 400px;
  border-radius: 20px;
  background-color: var(--CONTAINER-COLOR);
}
.hero-image-container {
  border-radius: inherit;
}
.hero-image-container img {
  /* border: solid; */
  width: 100%;
  border-radius: inherit;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.text-container {
  text-align: center;
  color: var(--TEXT-COLOR);
  padding: 25px;
  min-height: 50%;
  display: flex;
  flex-direction: column;
}

.desc {
  padding: 15px;
}

.plan-container {
  background-color: var(--PLAN-CONTAINER-COLOR);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.plan-container a {
  margin-left: 70px;
  text-decoration: underline;
}
.plan-container a:active,
a:visited {
  color: var(--HYPERLINK-COLOR);
}
.plan-container a:hover,
a:focus {
  color: var(--HYPERLINK-COLOR);
  text-decoration: none;
}

.plan-details {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.plan-name {
  font-weight: bold;
}

.user-actions {
  padding: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-actions {
  padding: 10px;
  margin-top: 20px;
}

.user-actions a {
  text-decoration: none;
  display: block;
  padding: 15px;
}

.user-actions a:first-child {
  color: white;
  background-color: var(--HYPERLINK-COLOR);
  border-radius: 12px;
}
.user-actions a:first-child:hover {
  background-color: var(--BG-COLOR);
}

.user-actions a:nth-child(2) {
  margin-top: 20px;
}
.user-actions a:nth-child(2):hover {
  font-weight: 900;
  color: var(--TEXT-COLOR);
}
